<!--<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Login" />
                <a href="#" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>-->
<div class="text-center">
    <span class="text-danger" *ngIf="errorMessage" >{{ errorMessage }}</span>
    <form class="form-signin" (submit)="onLogin()" #theForm = "ngForm" novalidate>
        <div class="text-danger" *ngIf="username.touched && username.invalid && username.errors.required">UserName is required!</div>
        <div class="text-danger" *ngIf="password.touched && passsword.invalid && password.errors.required">Password is required!</div>
        <img class="mb-4" src="/img/bootstrap-solid.svg" alt="Login Logo" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="creds.username" #username ="ngModel" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="creds.password" #password ="ngModel" required autofocus>
        <input type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="theForm.invalid" value="Login" />
        <a routerLink="/" class="btn btn-elegant">Cancel</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
</div>
    