@model IEnumerable<Product>
@{
    ViewData["Title"] = "The Shop";
}
@section Scripts{
    <script src="~/clientApp/runtime.js"></script>
    <script src="~/clientApp/polyfills.js"></script>
    <script src="~/clientApp/styles.js"></script>
    <script src="~/clientApp/vendor.js"></script>
    <script src="~/clientApp/main.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>